<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {%block title%}
    <title>basepage</title>
    {%endblock%}
</head>
{%block body_sample%}
<body>
    <h1>this is header section</h1>
    {%block content%}
   
    <h1>this is navigation section for base page</h1>
    
    {%endblock%}
    <h1>this is footer section</h1>
</body>
{%endblock%}
</html>